# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Binary Files
sparse/c2xml
sparse/compile
sparse/ctags
sparse/example
sparse/graph
sparse/obfuscate
sparse/semind
sparse/sparse
sparse/sparse-llvm
sparse/test-dissect
sparse/test-inspect
sparse/test-lexing
sparse/test-linearize
sparse/test-parsing
sparse/test-show-type
sparse/test-unssa
sparse/version.h
